importFrom("stats", "pnorm", "qnorm","runif")
importFrom('stats', 'ks.test')
importFrom('stats','ecdf')
importFrom('stats','nlminb','optim')
importFrom("stats", "sd","median", "setNames", "shapiro.test")
importFrom("ggplot2", "labs", "theme_classic",
           "stat_qq","stat_qq_line")
importFrom("numDeriv", "hessian", "jacobian")
importFrom('ggpubr','ggqqplot')
import(ggplot2)
import(ggpubr)
export(dwbs)
export(pwbs)
export(qwbs)
export(rwbs)
export(kswbs)
export(modelwbs)
export(MLEwbs)
export(reliability)
export(failure)
