importFrom("stats", "pnorm", "qnorm","runif")
importFrom('stats', 'ks.test')
importFrom('stats','ecdf')
importFrom('stats','nlminb')
importFrom("stats", "sd", "setNames", "shapiro.test")
importFrom('ggpubr','ggqqplot')
import(ggplot2)
import(ggpubr)
export(dwbs)
export(pwbs)
export(qwbs)
export(rwbs)
export(kswbs)
export(modelwbs)
